
.component-center {
  display: flex;
  flex-direction: column;
  flex-Wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.component-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.card-form {
  width: 25%
}



/* MODAL */
.modalBackground {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  flex: 0 1 70%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  display: flex;
  flex-direction: column;
}


.nav-link-home {
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  color: #282c34;
}

.nav-link-home:hover {
  background-color: #2c2c2cb0;
  color: whitesmoke;
} 